<div class="ant-layout-content" style="margin: 80px 24px 0px; height: 80%;">
	<div class="exception___19n05" style="min-height: 500px; height: 80%;">
		<div class="imgBlock___2g-kj">
			<div class="imgEle___cXgra" style="background-image: url(&quot;https://gw.alipayobjects.com/zos/rmsportal/wZcnGqRDyhPOEYFcZDnb.svg&quot;);">
				
			</div>
		</div>
		<div class="content___3PvOs">
			<h1>403</h1>
			<div class="desc___3G5g3">抱歉，你无权访问该页面</div>
			<div class="actions___1lAdW">
				<a href="#/">
					<button type="button" class="ant-btn ant-btn-primary"><span>返回首页</span></button>
				</a>
			</div>
		</div>
	</div>
</div>
