.buyhome-group{
	padding: 15px;
	padding-top: 40px;
	max-width: 1000px;
	margin:auto;
}
.buyhome-title{
	padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.buyhome-search{
	margin-top: 15px;
	margin-bottom: 5px;
}
.buy-add{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.buy-add button:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  -o-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}