.buy-add-page{
	padding: 15px;
	padding-top: 40px;
	max-width: 1000px;
	margin:auto;
}
.buyadd-title{
		padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
.buyadd-form{
	margin-top: 40px;
}

[nz-form] {
max-width: 600px;
}
button {
margin-left: 8px;
}