.title-button{
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	margin-right: 1px;
	padding: 0 12px;
	text-align: center;
	border-right: 1px solid #2a2f32;
	text-decoration: none;
	height: 40px;
	display: block;
	float: left;
	cursor: pointer;
	outline:none;
}
.title-button:hover{
	background-color: #2a2f32;
}